{%- extends "bootstrap/base.html" %}
{% block title %}This is an example page{% endblock %}
{% import "bootstrap/fixes.html" as fixes %}
{% block head %}
{{super()}}
{{fixes.ie8()}}
{%- endblock %}
{% block styles -%}
{{super()}}
{% endblock %}
{% block navbar %}
<div class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">MetaVOD</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="nav-link active" aria-current="page" href="{{ url_for('index') }}">Home</a>
    <a class="nav-link" href="{{ url_for('broadcasters') }}">Broadcasters</a>
    <a class="nav-link" href="{{ url_for('platforms') }}">Platforms</a>
  </div>
</div>
{% endblock %}
{% block content %}
<p>There is supposed to be content here...</p>
{% endblock %}
