{% extends 'base.html' %}

{% block body %}
  <div class="container">
    <h1>Channel: {{ channel.name }}</h1>
    <h2>Videos</h2>

    <button type="button" class="btn btn-primary" onclick="location.href = '{{ url_for('channel_fetch_videos', id=channel.id) }}';">Fetch videos on this channel</button>
    <p>Count of videos: {{ videos|length }}</p>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Video ID</th>
          <th scope="col">Title</th>
          <th scope="col">Video Type</th>
          <th scope="col">Video Link</th>
          <th scope="col">Transcriptions</th>
          <th scope="col">Last updated</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for video in videos %}
        <tr>
          <td>{{ video.id }}</td>
          <td>{{ video.title }}</td>
          <td>{{ video.video_type.name }}</td>
          <td><a href="{{ video.get_url() }}">Link</a></td>
          <td>{{ video.transcriptions|length }}</td>
          <td>{{ video.last_updated }}</td>
          <td>
            <a class="btn btn-primary" role="button" href="{{ url_for('video_get_transcriptions', id=video.id) }}">Edit Video</a>
            <a class="btn btn-primary" role="button" href="{{ url_for('video_fetch_transcriptions', id=video.id) }}">Fetch transcriptions</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="alert alert-success" role="alert">
          {% for message in messages %}
            {{ message }}
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}


  </div>
{% endblock %}
