{% extends 'base.html' %}

{% block body %}
  <div class="container">
    <h1>Video: {{ video.title }}</h1>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Transcription type</th>
        </tr>
      </thead>
      <tbody>
        {% for t in transcriptions %}
        <tr>
          <td>{{ t.id }}</td>
          <td>{{ t.file_extention }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="alert alert-success" role="alert">
          {% for message in messages %}
            {{ message }}
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

  </div>
{% endblock %}
