{% from 'bootstrap5/nav.html' import render_nav_item %}
{% from 'bootstrap5/utils.html' import render_messages %}
<!doctype html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-icons.css') }}">
    <script src="{{ url_for('static', filename='js/htmx.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chart.umd.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chartjs-plugin-zoom.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/buttons.js') }}"></script>
    <link rel="icon" href="{{ url_for('static', filename='logo.ico') }}" type="image/x-icon">
    <!-- EARLY theme setting -->
    <script>
        (function() {
            const theme = localStorage.getItem('theme') || (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light');
            document.documentElement.setAttribute('data-bs-theme', theme);
        })();
    </script>
    {% block styles %}

    {% endblock %}
        {{ bootstrap.load_css() }}
          <style>
            .modal.fade .modal-dialog {
              transition: transform 0.1s ease-out, opacity 0.5s ease-out;
            }
          </style>
          <style>
            details[open] > summary::after {
              transform: rotate(180deg);
            }
          
            details summary::-webkit-details-marker {
              display: none; /* Hides the default arrow in most browsers */
            }
          
            .dropdown-menu {
              position: absolute;
              background-color: var(--bs-body-bg);
              border: 1px solid rgba(0, 0, 0, 0.15);
              border-radius: 0.25rem;
              z-index: 1000;
              box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
            }
          
            .dropdown details {
              position: relative;
            }
          </style>        
          <style>
            .icon {
              width: 1em;
              height: 1em;
              vertical-align: -0.125em;
              fill: #007bff;
            }
          </style>
          <style>
            .navbar {
              transition: top 0.3s;
            }
          </style>
    <title>YappR</title>
    {% endblock %}
  </head>
  <body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-sm bg-body-tertiary sticky-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('search.search_page') }}">
        <img src="{{ url_for('static', filename='logo_48.ico') }}" alt="YappR" width="48" height="48" style="margin-right: 5px;">YappR
        </a>
        {% if current_user.is_anonymous == False %}
          <div class="collapse navbar-collapse" id="navbarScroll">
            <div class="navbar-nav ">
              {{ render_nav_item('search.search_page', 'Search') }}
              {{ render_nav_item('clip_queue.clip_queue', 'Clip Queue') }}
              {{ render_nav_item('broadcaster.broadcasters', 'Broadcasters')}}
              {% if current_user.is_anonymous == False and current_user.has_permission(["admin"]) %}
                {{ render_nav_item('root.users', 'Users') }}
                {{ render_nav_item('root.utils', 'Utils') }}
              {% endif %}
              {% if current_user.is_anonymous == False and current_user.has_permission(["admin", "mod"]) %}
                {{ render_nav_item('management.management', 'Management') }}
                {{ render_nav_item('celery_active_tasks_view', 'Workers') }}
                {{ render_nav_item('root.utils', 'Utils') }}
              {% endif %}
              {{ render_nav_item('root.stats', 'Stats') }}
            </div>
          </div>
        {% else %}
          <div class="collapse navbar-collapse" id="navbarScroll">
            <div class="navbar-nav mr-auto">
              {{ render_nav_item('search.search_page', 'Search') }}
              {{ render_nav_item('clip_queue.clip_queue', 'Clip Queue') }}
              {{ render_nav_item('root.stats', 'Stats') }}
            </div>
          </div>
        {% endif %}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="container">
        <div class="form-check form-switch ms-auto me-2">
          <button id="themeToggle" class="btn">
            <span id="themeIcon" class="bi bi-moon-fill"></span>
          </button>
        </div>
        {% if current_user.is_anonymous == False %}
          <details class="dropdown d-inline-block">
            <summary class="d-flex align-items-center" style="cursor: pointer; list-style: none;">
              <span class="me-2">{{ current_user.name }}</span>
              <img width="50" height="50" src="{{ current_user.avatar_url }}" alt="User Icon" class="rounded-circle">
            </summary>
            <div class="dropdown-menu show p-2">
              <a class="dropdown-item" href="{{ url_for('root.logout') }}">Log out</a>
            </div>
          </details>
        {% else %}
          <div class="vr"></div>
          <div class="ms-2">
            <a href="{{ url_for('root.login') }}">Login</a>
          </div>
        {% endif %}
      </div>
    </nav>
    {% block content %}{% endblock %}
    {% block scripts %}{% endblock %}
    <script>
      (function () {
          const themeToggle = document.getElementById('themeToggle');
          const themeIcon = document.getElementById('themeIcon'); // if using icons

          // Get stored theme or system preference
          let currentTheme = localStorage.getItem('theme') || 'dark' ;

          // Apply initial theme
          document.documentElement.setAttribute('data-bs-theme', currentTheme);
          if (themeIcon) {
              themeIcon.className = currentTheme === 'dark' ? 'bi bi-sun-fill' : 'bi bi-moon-fill';
          }

          themeToggle.addEventListener('click', () => {
              currentTheme = (document.documentElement.getAttribute('data-bs-theme') === 'dark') ? 'light' : 'dark';
              document.documentElement.setAttribute('data-bs-theme', currentTheme);
              localStorage.setItem('theme', currentTheme);

              if (themeIcon) {
                themeIcon.className = currentTheme === 'dark' ? 'bi bi-sun-fill' : 'bi bi-moon-fill';
              }
          });
      })();
    </script>
    <script>
      let lastScrollTop = 0;
      const navbar = document.querySelector('.navbar');

      window.addEventListener('scroll', function() {
        const currentScroll = window.pageYOffset || document.documentElement.scrollTop;

            if (currentScroll > lastScrollTop) {
              // Scrolling down
              navbar.style.top = '-100px'; // Hide (adjust based on your navbar height)
            } else {
              // Scrolling up
              navbar.style.top = '0';
            }

            lastScrollTop = currentScroll <= 0 ? 0 : currentScroll; // For Mobile or negative scrolling
          });
    </script>
    {{ bootstrap.load_js() }}
    {% block extra_scripts %}{% endblock %}
    <footer class="footer mt-auto text-center text-white bg-body-tertiary w-100 p-2">
      <div class="d-flex justify-content-center align-items-center gap-2 text-body-secondary fs-6">
        <span class="d-flex align-items-center">Made by Hausken</span>
        <span>
          <a class="github-button" href="https://github.com/hauskens/YappR"
             data-color-scheme="no-preference: light; light: light; dark: light;"
             data-show-count="true" size="small" data-icon="octicon-star"
             aria-label="Star hauskens/YappR on GitHub">GitHub</a>
        </span>
      </div>
    </footer>
    </body>
</html>
