{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <h1>Profile: {{ broadcaster.name }}</h1>
    <h2>Channels</h2>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Channel ID</th>
          <th scope="col">Display Name</th>
          <th scope="col">Platform</th>
          <th scope="col">ID</th>
          <th scope="col">Channel Type</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for channel in channels %}
        <tr>
          <td>{{ channel.id }}</td>
          <td>{{ channel.name }}</td>
          <td>{{ channel.platform.name }}</td>
          <td>{{ channel.platform_ref }}</td>
          <td>{{ channel.main_video_type.name }}</td>
          <td>
            <a class="btn btn-primary" role="button" href="{{ url_for('channel_get_videos', id=channel.id) }}">Edit Channel</a>
            <a class="btn btn-danger disabled" role="button" href="{{ url_for('channel_delete', channel_id=channel.id) }}">Delete Channel</a>

          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="alert alert-success" role="alert">
          {% for message in messages %}
            {{ message }}
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    <h2>Add Channel</h2>

    <form action="{{ url_for('channel_create') }}" method="post">
      <label for="platform_id">Platform:</label>
      <select id="platform_id" name="platform_id">
        {% for platform in platforms %}
          <option value="{{ platform.id }}">{{ platform.name }}</option>
        {% endfor %}
      </select><br /><br />

      <label for="channel_type">Channel Type</label>
      <select id="channel_type" name="channel_type" class="form-select">
        {% for video_type in video_types %}
          <option value="{{ video_type.name }}">{{ video_type.name }}</option>
        {% endfor %}
      </select><br /><br />

      <label for="name">Display Name:</label>
      <input type="text" id="name" name="name" class="form-control" pattern="[A-Za-z0-9][A-Za-z0-9 ]*" required placeholder="Testies VOD channel" required title="Only A-Z or numbers allowed"><br /><br />

      <label for="platform_ref">Channel ID in platform</label>
      <input type="text" id="platform_ref" name="platform_ref" class="form-control" pattern="[A-Za-z0-9][A-Za-z0-9]*" required placeholder="" required title="Only A-Z or numbers allowed, remove @ from youtube tag"><br /><br />

      <input
        type="hidden"
        id="broadcaster_id"
        name="broadcaster_id"
        value="{{ broadcaster.id }}"
      ><br /><br />

      <button type="submit" class="btn btn-primary">Add Channel</button>
    </form>

  </div>
{% endblock %}
