{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <h1>Broadcasters</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Broadcaster</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
      {% for broadcaster in broadcasters %}
        <tr>
        <td>
          {{ broadcaster.name }}<a href="{{ url_for('broadcaster_edit', id=broadcaster.id) }}" class="text-primary"></a>
        </td>
        <td>
          <a class="btn btn-primary" role="button" href="{{ url_for('broadcaster_edit', id=broadcaster.id) }}">Show</a>
        </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    {%for perm in g.user_object.permissions%}{% if 'Admin' in perm.permission_type.name %}
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseManageChannel" role="button" aria-expanded="false" aria-controls="collapseExample">
      Add new Broadcaster..
    </a>
      <div class="collapse" id="collapseManageChannel">
      <form action="{{ url_for('broadcaster_create') }}" method="post">
        <div class="mb-3">
          <label for="name" class="form-label">Broadcaster Name:</label>
          <input type="text" id="name" name="name" class="form-control" pattern="[A-Za-z0-9_!][A-Za-z0-9_! ]*" required placeholder="Mike Hunt" required title="Only A-Z or numbers allowed">
        </div>

        <button type="submit" class="btn btn-primary">Save Broadcaster</button>
      </form>
    </div>
  </div>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="alert alert-success" role="alert">
        {% for message in messages %}
          {{ message }}
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}
  {% endif %}{% endfor %}
{% endblock %}
