{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <h1>Videos on Channel: {{ channel.name }}</h1>
    {%for perm in g.user_object.permissions%}{% if 'Admin' in perm.permission_type.name %}
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseManageChannel" role="button" aria-expanded="false" aria-controls="collapseExample">
      Some admin buttons...
    </a>
    <div class="collapse" id="collapseManageChannel">
      <hr>
      <button type="button" class="btn btn-primary" onclick="location.href = '{{ url_for('channel_fetch_videos', channel_id=channel.id) }}';">Fetch videos on this channel</button>
      <button type="button" class="btn btn-primary" onclick="location.href = '{{ url_for('channel_fetch_transcriptions', channel_id=channel.id) }}';">Fetch all transcriptions</button>
      <button type="button" class="btn btn-primary" onclick="location.href = '{{ url_for('channel_parse_transcriptions', channel_id=channel.id) }}';">Process ALL transcriptions</button>
    </div>
    <hr>
    {% endif %}{% endfor %}
    <p>Videos on channel: {{ videos|length }}</p>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Video ID</th>
          <th scope="col">Thumbnail</th>
          <th scope="col">Title</th>
          <th scope="col">Video Type</th>
          <th scope="col">Video Link</th>
          <th scope="col">Transcriptions</th>
          <th scope="col">Attached audio</th>
          <th scope="col">Published</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for video in videos %}
        <tr>
          <td>{{ video.id }}</td>
          <td>
            {% if loop.index <= 50 %}
                  <img src="{{url_for('index')}}thumbnails/{{video.id}}" alt="" style="max-width:100%; max-height:250px;">
            {% endif %} 
          </td>
          <td>{{ video.title }}</td>
          <td>{{ video.video_type.name }}</td>
          <td><a href="{{ video.get_url() }}">Link</a></td>
          <td> {{ 'No transcriptions' if video.transcriptions|length == 0 }} {% for t in video.transcriptions %}
                {{ 'Processed' if t.processed else 'Not processed' }}
                {% endfor %}</td>
          <td>{{ video.audio.filename }}</td>
          <td>{{ video.uploaded }}</td>
          <td>
            <div class="container mb-2">
              <a class="btn btn-primary" role="button" href="{{ url_for('video_get_transcriptions', video_id=video.id) }}">Edit Video</a>
            </div>
            {%for perm in g.user_object.permissions%}{% if 'Reader' in perm.permission_type.name %}
              {% if video.transcriptions|length == 0 %}
                <div class="container mb-2">
                  <a class="btn btn-primary" role="button" href="{{ url_for('video_fetch_transcriptions', video_id=video.id) }}">Fetch transcriptions</a>
                </div>
              {% elif video.segments|length == 0 %}
                <div class="container mb-2">
                  <a class="btn btn-primary" role="button" href="{{ url_for('video_parse_transcriptions', video_id=video.id) }}">Process transcriptions</a>
                </div>
              {%endif%}
              {% if video.audio.filename is defined %}
              {% else%}
                <div class="container mb-2">
                  <a class="btn btn-primary" role="button" href="{{ url_for('video_fetch_audio', video_id=video.id) }}">Fetch audio from {{ video.channel.platform.name }}</a>                          {%endif%}
                </div>
            {% endif %}{% endfor %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="alert alert-success" role="alert">
          {% for message in messages %}
            {{ message }}
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}


  </div>
{% endblock %}
