{% extends 'base.html' %}

{% block content %}
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      
      <div class="alert alert-info text-center shadow" role="alert">
        <h2 class="alert-heading">Welcome to YappR! 👋</h2>
        <h3>Looking for clip queue?</h3>
        <hr>
        {% if current_user.is_anonymous %}
        <p class="mb-0">Log in to get clip queue and more features!</p>
        {% elif user_service.is_moderator(current_user) %}
        <p class="mb-0">Seems like you are a Twitch Moderator, head over to <a href="{{ url_for('management.management') }}">management page</a> to manage your broadcaster's clip queue!</p>
        {% else %}
        <p class="mb-0">You are almost there! </p>
        <p>We just need you to <a href="{{ url_for('broadcaster.broadcaster_create') }}">link a broadcaster</a> to your account so we know which twitch chat to look at!</p>
        {% endif %}
      </div>

      <div class="card mb-5 shadow">
        <div class="card-header">
          <h3 class="card-title mb-0">Why use this clip queue?</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6 mb-3">
              <div class="d-flex align-items-start">
                <div class="me-3">
                  <span class="badge bg-primary rounded-pill fs-5">🌙</span>
                </div>
                <div>
                  <h5>Clip Queue is open 24/7</h5>
                  <p class="text-muted mb-0">Viewers can submit clips anytime, even when you are offline</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <div class="d-flex align-items-start">
                <div class="me-3">
                  <span class="badge bg-primary rounded-pill fs-5">🔄</span>
                </div>
                <div>
                  <h5>Clips are de-duplicated</h5>
                  <p class="text-muted mb-0">Clips are de-duplicated and you can control which sources are allowed</p>
                </div>
              </div>
            </div>
            <!-- <div class="col-md-6">
              <div class="d-flex align-items-start">
                <div class="me-3">
                  <span class="badge bg-primary rounded-pill fs-5">🛡️</span>
                </div>
                <div>
                  <h5>Automated moderation</h5>
                  <p class="text-muted mb-0">Listens for moderation events in your channel and automatically removes clips from banned/timed out users</p>
                </div>
              </div>
            </div> -->
            <div class="col-md-6">
              <div class="d-flex align-items-start">
                <div class="me-3">
                  <span class="badge bg-primary rounded-pill fs-5">⚖️</span>
                </div>
                <div>
                  <h5>Priority</h5>
                  <p class="text-muted mb-0">You control how the queue is sorted and what you want to prioritize</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="d-flex align-items-start">
                <div class="me-3">
                  <span class="badge bg-primary rounded-pill fs-5">💬</span>
                </div>
                <div>
                  <h5>Discord</h5>
                  <p class="text-muted mb-0">A Discord bot can be invited to your server to listen for clips on a channel you specify</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="d-flex align-items-start">
                <div class="me-3">
                  <span class="badge bg-primary rounded-pill fs-5">✂️</span>
                </div>
                <div>
                  <h5>Your editor will thank you</h5>
                  <p class="text-muted mb-0">When you react to clips, the timestamp is saved with a link to your VOD, making it trivial to find the moment later</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% if current_user.is_anonymous %}
      <div class="card shadow border mt-4 shadow">
        <div class="card-header bg-primary text-white">
          <h5 class="mb-0"><i class="bi bi-info-circle-fill me-2"></i>Login to YappR</h5>
        </div>
        <div class="card-body">
          <p>Log in to get access to clip queue and more features!</p>
          <p>You can read more about YappR <a href="{{ url_for('root.about') }}">here</a></p>
          <div class="text-center mt-4">
            (prefered)
            <br>
            <a href="{{ url_for('twitch.login') }}">
              <img
                id="twitch"
                src="https://img.shields.io/badge/Twitch-Login-9146ff?style=for-the-badge&labelColor=black&logo=Twitch"
                alt="Login with Twitch"
              />
            </a>
          </div>
          <div class="text-center mt-4">
            <a href="{{ url_for('discord.login') }}">
              <img
                id="discord"
                src="https://img.shields.io/badge/Discord-Login-7289da?style=for-the-badge&labelColor=black&logo=Discord"
                alt="Login with Discord"
              />
            </a>
          </div>
        </div>
      </div>
        {% else %}
          <div class="alert alert-primary" role="alert">
            <h5 class="alert-heading">You are almost there!</h5>
            <p>You, or a Twitch Moderator need to <a href="{{ url_for('broadcaster.broadcaster_create') }}" class="alert-link">create a new broadcaster</a></p>
            <p>If the broadcaster is already set up, simply head over to <a href="{{ url_for('broadcaster.broadcasters') }}" class="alert-link">broadcaster page</a> > your broadcaster > Manage Clip Queue</p>
          </div>
        {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}