{% extends 'base.html' %} {% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      {% include "search_module.html" %}
    </div>
  </div>
  <div class="row justify-content-center mt-4">
    <div class="col-md-6">
      <h5 class="fw-bold">Search Tips</h5>
      <ul class="list-group list-group-flush">
      <li class="list-group-item">
        🔍 Flexible search - Use <strong>keywords</strong> that would realistically appear within a short 8–12 second clip.
      </li>
      <li class="list-group-item">
        🔒 Use <code>"quotes on your search term"</code> for <strong>strict search</strong> (exact match), this is sensitive and may return fewer results, not recommended.
      </li>
      <li class="list-group-item">
        ✂️ <strong>Keep it concise</strong> — long or complex sentences often won't match well.
      </li>
      <li class="list-group-item">
        🧠 Remember: <strong>transcriptions do contain errors</strong> (e.g. typos or misheard words).
      </li>
      <li class="list-group-item">
      ❌ Avoid searching for <strong>single common words</strong> like <em>"the"</em>, <em>"hello"</em>, or <em>"thanks"</em> — they usually appear too frequently or are ignored.  
      <br>However, <strong>distinctive single words</strong> like <em>"curry"</em> or <em>"passport"</em> works well.
      </li>
      <li class="list-group-item">
        ⏱️ <strong>Note on performance:</strong> If a search takes too long (usually 10+ seconds), it may time out early and and just show you the partial results.
      </li>
      </ul>
    </div>
  </div>
  <div class="row justify-content-center mt-2">
    <div class="col-md-6">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class="alert alert-danger" role="alert">
            {% for message in messages %}
              {{ message }}
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}
    </div>
  </div>
</div>
{% endblock %}
