{% block scripts %} {{ bootstrap.load_js() }}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  function playVideo(playerName) {
    $(`.${playerName}`).each(function(){
      this.contentWindow.postMessage('{"event":"command","func":"stopVideo","args":""}', '*')
    });
  }
  const ctx = document.getElementById("myChart");

  var chart = new Chart(ctx, {
    type: "bar",
    data: {
      labels: [
        {% for segment in segment_list %}
          "{{ segment_list }}",
        {% endfor %}
      ],
      datasets: [
        {
          label: "# of Votes",
          data: [
            {% for video in channel.videos %}
              "{{ video.id }}",
            {% endfor %}
          ],
          borderWidth: 1,
        },
      ],
    },
    options: {
      scales: {
        y: {
          beginAtZero: true,
        },
      },
    },
  });
</script>
{% endblock %}
