{% extends 'base.html' %} {% block content %}

<div class="container">
  <p>You are not logged in!</p>
  <p>
    This application uses Discord for authentication and can only see your
    profile name and picture.
  </p>
  <p>Click the below login button to proceed, registration is automatic.</p>
  <a href="{{ url_for('login') }}">
    <img
      id="discord"
      src="https://img.shields.io/badge/Discord-Login-brightgreen?style=for-the-badge&labelColor=black&logo=Discord"
      alt="discord"
    />
  </a>
</div>

{% endblock %}
