{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <a class="btn btn-primary" role="button" href="{{ url_for('channel_get_videos', channel_id=video.channel.id) }}">Back to Channel</a>
    <a class="btn btn-primary" role="button" href="{{ url_for('video_fetch_details', video_id=video.id) }}">Fetch video details from platform</a>
    <a class="btn btn-primary" role="button" href="{{ url_for('video_fetch_audio', video_id=video.id) }}">Fetch audio from platform</a>
    <a class="btn btn-primary" role="button" href="{{ url_for('video_process_audio', video_id=video.id) }}">Process audio from platform</a>
    <button type="button" class="btn btn-primary" onclick="location.href = '{{ url_for('video_fetch_transcriptions', video_id=video.id) }}';">Fetch transcriptions for this video</button>
    <hr>
    <div class="container">
      <h1>{{ video.title }}</h1>
      <a href="{{ video.get_url() }}" >Link to video on {{ video.channel.platform.name }}</a>
      <p>Video ID: {{ video.id }}</p>
      <p>Uploaded: {{ video.uploaded }}</p>
      <p>Audio file: {{ video.audio.filename }}</p>
      <img src="{{url_for('index')}}thumbnails/{{video.id}}" alt="" style="max-width:100%; max-height:250px;">
    </div>
    <hr>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Transcription ID</th>
          <th scope="col">Type</th>
          <th scope="col">Source</th>
          <th scope="col">Last Updated</th>
          <th scope="col">Processed</th>
          <th scope="col">Processed words</th>
          <th scope="col">File</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for t in transcriptions %}
        <tr>
          <td>{{ t.id }}</td>
          <td>{{ t.file_extention }}</td>
          <td>{{ t.source.name }}</td>
          <td>{{ t.last_updated }}</td>
          <td>{{ t.processed }}</td>
          <td>{{ t.word_maps|length }}</td>
          <td>
        <a class="btn btn-primary" role="button" href="{{ url_for('download_transcription', transcription_id=t.id) }}" download="{{ t.file_extention }}">Download</a>
          </td>
          <td>

    <button type="button" class="btn btn-danger" onclick="location.href = '{{ url_for('delete_wordmaps_transcription', transcription_id=t.id) }}';"> Delete wordmaps</button>
    <button type="button" class="btn btn-primary" onclick="location.href = '{{ url_for('parse_transcription', transcription_id=t.id) }}';"> Process transcription</button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="alert alert-success" role="alert">
          {% for message in messages %}
            {{ message }}
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

  </div>
{% endblock %}
